{% extends 'base.html' %}

{% block content %}
<h1>Add Stock...</h1>
<br/>
<form action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Add stock to portfolio "
         aria-label="Search" name="symbol">
  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add stock</button>
</form>
<br/>
<br/>
<table class="table table-striped table-bordered table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52Wk High</th>
      <th scope="col">52Wk Low</th>
    </tr>
  </thead>
  <tbody>
  {% if output %}
    {%  for list_item in output %}
      <tr>
          <th scope="row">{{list_item.symbol}}</th>
          <td>{{ list_item.companyName }}</td>
          <td>${{ list_item.latestPrice }}</td>
          <td>${{ list_item.previousClose }}</td>
          <td>${{ list_item.marketCap }}</td>
          <td>{{ list_item.ytdChange }}%</td>
          <td>${{ list_item.week52High }}</td>
          <td>${{ list_item.week52Low }}</td>
      </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>

{% if symbol %}
    {% for item in symbol %}
        <a href="{% url 'delete' item.id %}" class="btn btn-secondary">
            Delete {{ item }}</a><br/><br/>
    {% endfor %}
{% else %}
    Add stocks first
{% endif %}

{% endblock %}