{% extends 'base.html' %}

{% block content %}
    <h1>Delete Stock</h1><br/><br/>
    {% if symbol %}
        {% for item in symbol %}
            <a href="{% url 'delete' item.id %}" class="btn btn-secondary">Delete
            {{ item}}</a><br/><br/>
        {% endfor %}
    {% else %}
        Add stocks first
    {% endif %}
{% endblock %}