{% extends 'base.html' %}

{% block content %}
    {% if stock %}
        {% if stock == 'Enter Stock Symbol...' %}
            <h3>{{ stock }}</h3>
            <br/>
        {% else %}
            <h1>{{ stock }} Prices</h1>
            <br/>
        {% endif %}
    {% else %}
        <h3>Enter Stock Symbol...</h3>
        <br/>
    {% endif %}

    {% if sec_data %}
        {%  for k, v in sec_data.items %}
            <strong>{{ k }}</strong> ${{ v|stringformat:".2f" }}<br/>
         {%  endfor %}
    {% else %}

    {% endif %}

{% endblock %}